<%- include('./partials/header.ejs')%>  
<main>

    <div class="bg-dark">
        <ul class="nav nav-pills justify-content-left py-3 mb-4 border-top border-warning">
            <li class="nav-item"><a href="/events" class="nav-link text-white ml-1">Events</a></li>
        </ul>
    </div>
    <div class="overflow-auto margintop" id="body">
        <div class="container w-50 ">
            <h3><strong>Welcome to BballHub</strong></h3>
            <p class="lead">
                BballHub is a website where you can find local events to premiere basketball games. Whether it be
                collegiate or professional, BBallHub can find basketball events
                around UNCC and the Charlotte area with ease.
            </p>
            <p>
                Click the events tab to see what events are around you!
            </p>
        </div>
    </div>

</main>
<%- include('./partials/footer.ejs')%>  