<%- include('../partials/header.ejs')%>  
    <div class = "content">
        <h4><%= event.title%></h4>
        <div><%= event.details%></div>
    </div>
    <%- include('../partials/footer.ejs')%>  